.education {
  padding: 100px 15px;
  background: var(--second-bg-color);

  .timeline-items {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 5px;
      height: 100%;
      background-color: var(--main-color);
      left: calc(50% - 1px);
    }

    @media (max-width: 991px) {
      &::before {
        left: 7px;
      }
    }
  }
}
