<section class="education" id="education" data-id="1">
    <h2 class="heading">Education</h2>
    <div class="timeline-items">
        <app-timeline-item
            *ngFor="
                let entry of educationEntries;
                let last = last;
                let even = even
            "
            [year]="entry.year"
            [place]="entry.place"
            [description]="entry.description"
            [last]="last"
            [even]="even"
        ></app-timeline-item>
    </div>
</section>
