.social-icons {
  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;

    &:hover {
      color: var(--text-color);
      transform: scale(1.3) translateY(-5px);
      box-shadow: 0 0 25px var(--main-color);
      background-color: var(--main-color);
    }
  }
}
