<header class="header">
    <a href="#home" class="logo">Diego <span>Balderrama</span></a>

    <i #menuIcon class="bx bx-menu" id="menu-icon" (click)="onMenuClick()"></i>

    <nav #navBar class="navbar">
        <a
            *ngFor="let option of navbarOptions"
            (click)="onMenuItemClick(option.id)"
            [ngClass]="{ active: isActive(option.id) }"
            href="{{ option.ref }}"
            >{{ option.text }}</a
        >
    </nav>
</header>
