header.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 12% 4rem;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;

  @media (max-width: 991px) {
    padding: 2rem 8%;
  }

  a.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }

    span {
      color: var(--main-color);
      text-shadow: 0 0 25px var(--main-color);
    }
  }

  #menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;

    @media (max-width: 895px) {
      display: block;
    }
  }

  nav.navbar {
    @media (max-width: 895px) {
      position: absolute;
      top: 100%;
      right: 0;
      width: 50%;
      padding: 1rem 3%;
      background: rgba(0, 0, 0, 0.8);
      backdrop-filter: blur(20px);
      border-bottom-left-radius: 2rem;
      border-left: 2px solid var(--main-color);
      border-bottom: 2px solid var(--main-color);
      display: none;
      animation: pullDown 0.2s ease;

      @keyframes pullDown {
        0% {
          transform: translateY(calc(-100%));
        }
        100% {
          transform: translateY(0);
        }
      }

      &.active {
        display: block;
      }
    }

    a {
      font-size: 1.8rem;
      color: var(--text-color);
      margin-left: 4rem;
      font-weight: 500;
      transition: 0.3s ease;
      border-bottom: 3px solid transparent;

      @media (max-width: 895px) {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
      }

      &:hover,
      &.active {
        color: var(--main-color);
        border-bottom: 3px solid var(--main-color);
      }
    }
  }
}
