.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: var(--second-bg-color);

  @media (max-width: 991px) {
    padding: 2rem 3%;
  }

  .social {
    text-align: center;
    padding-bottom: 25px;
  }

  ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;

    li {
      display: inline-block;
      padding: 0 15px;

      a {
        color: var(--text-color);
        border-bottom: 3px solid transparent;
        transition: 0.3s ease-in-out;

        &:hover {
          border-bottom: 3px solid var(--main-color);
        }
      }
    }
  }

  .copyright {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
  }
}
