<footer class="footer">
    <app-social-icons class="social"></app-social-icons>
    <ul class="list">
        <li>
            <a href="#home">FAQ</a>
        </li>
        <li>
            <a href="#education">About Me</a>
        </li>

        <li>
            <a href="#services">Services</a>
        </li>
        <li>
            <a href="#projects">Projects</a>
        </li>
        <li>
            <a href="#contact">Contact</a>
        </li>
    </ul>
    <p class="copyright">Inspired by How to Web Dev | Made in Angular</p>
</footer>
