.service-box {
  background-color: var(--main-color);
  height: 300px;
  border-radius: 3rem;
  border: 5px solid transparent;
  cursor: pointer;
  transition: 0.4s ease-in-out;

  @media (max-width: 895px) {
    height: fit-content;
  }

  &:hover {
    background: var(--text-color);
    color: var(--dark-accent);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
  }

  .service-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: left;
    align-items: baseline;
    padding: 3rem 5rem;

    @media (max-width: 895px) {
      max-height: fit-content;
    }

    h4 {
      font-size: 3rem;
      font-weight: 800;
      line-height: 2;
    }

    p {
      font-size: 1.6rem;
      font-weight: 600;
      max-height: 100px;
      line-height: 1.7;
      margin: auto;

      @media (max-width: 895px) {
        max-height: fit-content;
      }
    }
  }
}
