<div class="project-item">
    <img src="{{ image }}" alt="" />
    <h2>{{ title }}</h2>
    <div class="description">
        <h3>Description</h3>
        <p>
            {{ summary }}
        </p>
    </div>
    <div class="technologies">
        <h3>Technologies</h3>
        <p>
            {{ technologies }}
        </p>
    </div>
    <div class="actions">
        <a
            *ngIf="demoUrl"
            href="{{ demoUrl }}"
            target="_blank"
            class="btn"
            >Demo</a
        >
        <a
            href="{{ sourceUrlOne }}"
            target="_blank"
            class="btn-secondary"
            >{{ sourceOneLabel }}</a
        >
        <a
            *ngIf="sourceUrlTwo"
            href="{{ sourceUrlTwo }}"
            target="_blank"
            class="btn-secondary"
            >{{ sourceTwoLabel }}</a
        >
    </div>
</div>
