.project-item {
  max-height: 700px;
  background: rgba(0, 0, 0, 0.7);
  border: 3px solid rgba(238, 238, 238, 0.2);
  border-radius: 2rem;
  margin: 0 2rem;
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  color: var(--text-color);
  transition: 0.4s ease-in-out;

  &:hover {
    border: 3px solid var(--main-color);
    transform: translateY(-10px) scale(1.03);
  }

  @media (max-width: 895px) {
    max-height: fit-content;
    max-height: 100%;
    padding: 30px 8px;
    margin: 0;
    transition: none;
    transition: none;

    &:hover {
      border: none;
      transform: none;
    }
  }

  div {
    text-align: left;
    width: 100%;

    @media (max-width: 895px) {
      text-align: center;
    }

    &.actions {
      display: flex;
      flex-direction: row;
      gap: 14px;
      align-items: center;

      @media (max-width: 895px) {
        padding-top: 8px;
        padding-bottom: 8px;
        overflow-x: scroll;
      }

      a {
        margin-top: 0;

        @media (max-width: 895px) {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 60px;
          box-shadow: 0 0 0 transparent;
        }
      }
    }
  }

  h2 {
    font-size: 2.8rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  p {
    font-size: 1.5rem;
  }

  img {
    width: 400px;
    border: 3px solid var(--main-color);
    box-shadow: 0 0 25px var(--main-color);

    @media (max-width: 895px) {
      width: 150px;
    }
  }
}
