section.projects {
    background: var(--second-bg-color);

    div.project-box {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  
      div.wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
      }
    }
  }
  