<section class="projects" id="projects" data-id="3">
    <div class="project-box">
        <h2 class="heading">Projects</h2>
        <div class="wrapper">
            <app-project-item
                *ngFor="let entry of projects"
                [title]="entry.title"
                [image]="entry.image"
                [summary]="entry.summary"
                [technologies]="entry.techonologies"
                [demoUrl]="entry.demoUrl"
                [sourceUrlOne]="entry.sourceUrlOne"
                [sourceOneLabel]="entry.sourceCodeLabelOne"
                [sourceUrlTwo]="entry.sourceUrlTwo"
                [sourceTwoLabel]="entry.sourceCodeLabelTwo"
            ></app-project-item>
        </div>
    </div>
</section>
