@use '../../mixins' as *;

::ng-deep .toast-container .ngx-toastr {
  background-color: var(--second-bg-color);
  box-shadow: 0 0 12px var(--main-color);
}

.contact {
  background-color: var(--bg-color);

  form {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 3rem;
    margin: 5rem auto;
    text-align: center;

    @media (max-width: 991px) {
      flex-direction: column;
    }

    input,
    textarea {
      width: 100%;
      padding: 2.5rem;
      font-size: 1.8rem;
      color: var(--text-color);
      background: var(--second-bg-color);
      border-radius: 2rem;
      border: 2px solid var(--main-color);
      margin: 1.5rem 0;
      resize: none;
    }

    .input-group {
      flex: 1;

      .input-box {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
    }

    .input-group-2 {
      flex: 1;

      .btn {
        @include btnMixin;
      }
    }
  }
}
