<section class="contact" id="contact" data-id="4">
    <h2 class="heading">Contact <span>Me</span></h2>

    <form *ngIf="form" [formGroup]="form" (ngSubmit)="sendMessage()">
        <div class="input-group">
            <div class="input-box">
                <input
                    formControlName="fullName"
                    type="text"
                    placeholder="Full Name"
                />
                <app-form-error
                    [controlState]="
                        computeControlState(
                            'fullName',
                            'Please enter a valid Full Name'
                        )
                    "
                ></app-form-error>
                <input
                    formControlName="email"
                    type="email"
                    placeholder="Email"
                />
                <app-form-error
                    [controlState]="
                        computeControlState(
                            'email',
                            'Please enter a valid Email'
                        )
                    "
                ></app-form-error>
            </div>
            <div class="input-box">
                <input
                    formControlName="phoneNumber"
                    type="text"
                    placeholder="Phone Number"
                />
                <app-form-error
                    [controlState]="
                        computeControlState(
                            'phoneNumber',
                            'Please enter a valid Phone Number (needs country code)'
                        )
                    "
                ></app-form-error>
                <input
                    formControlName="subject"
                    type="text"
                    placeholder="Subject"
                />
                <app-form-error
                    [controlState]="
                        computeControlState(
                            'subject',
                            'Please enter a valid Subject'
                        )
                    "
                ></app-form-error>
            </div>
        </div>
        <div class="input-group-2">
            <textarea
                formControlName="message"
                name=""
                id=""
                cols="30"
                rows="10"
                placeholder="Your Message"
            ></textarea>
            <app-form-error
                [controlState]="
                    computeControlState(
                        'message',
                        'Please enter a valid Message'
                    )
                "
            ></app-form-error>
            <input type="submit" value="Send Message" class="btn" />
        </div>
    </form>
</section>
