<app-header></app-header>
<app-home></app-home>
<app-education></app-education>
<app-services></app-services>
<app-projects></app-projects>
<!-- <app-testimonials></app-testimonials> -->
<app-contact></app-contact>
<app-footer></app-footer>
<app-sticky-button></app-sticky-button>