.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;

  &.last {
    margin-bottom: 0;
  }

  &.even {
    padding-right: calc(50% + 30px);
    text-align: right;
  }

  &.odd {
    padding-left: calc(50% + 30px);
  }

  @media (max-width: 991px) {
    &.even {
      padding-right: 0;
      text-align: left;
    }

    &.even,
    &.odd {
      padding-left: 37px;
    }
  }

  .timeline-dot {
    height: 21px;
    width: 21px;
    background-color: var(--main-color);
    box-shadow:
      0 0 25px var(--main-color),
      0 0 50px var(--main-color);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;

    @media (max-width: 991px) {
      left: 0;
    }
  }

  .timeline-date {
    font-size: 20px;
    font-weight: 800;
    color: var(--text-color);
    margin: 6px 0 15px;
  }

  .timeline-content {
    background-color: var(--bg-color);
    border: 3px solid var(--main-color);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--main-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 25px var(--main-color);
    }

    h3 {
      font-size: 20px;
      color: var(--text-color);
      margin: 0 0 10px;
      font-weight: 500;
    }

    p {
      color: var(--text-color);
      font-size: 16px;
      font-weight: 300;
      line-height: 22px;
    }
  }
}
