<div [ngClass]="{ last: last, even: even, odd: !even }" class="timeline-item">
    <div class="timeline-dot"></div>
    <div class="timeline-date">{{ year }}</div>
    <div class="timeline-content">
        <h3>{{ place }}</h3>
        <p>
            {{ description }}
        </p>
    </div>
</div>
