.services {
  background: var(--bg-color);
  color: var(--dark-accent);

  @media (max-width: 991px) {
    padding-bottom: 7rem;
  }

  h2 {
    @media (max-width: 895px) {
      margin-bottom: 3rem;
    }

    margin-bottom: 5rem;
  }

  .services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;

    @media (max-width: 1285px) {
      padding-bottom: 7rem;
      grid-template-columns: repeat(2, 1fr);
      margin: 0 5rem;
    }

    @media (max-width: 895px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .spectrum {
    margin-top: 24px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-size: 4rem;
      margin-bottom: 0;
    }

    img {
      align-self: center;
      width: 800px;
      border: 3px solid var(--main-color);
      box-shadow: 0 0 25px var(--main-color);
      transition: 0.4s ease-in-out;
  
      @media (max-width: 895px) {
        width: 350px;
      }

      &:hover {
        border: 3px solid var(--main-color);
        transform: translateY(-10px) scale(1.03);
      }
    }

    p {
      color: var(--text-color);
      font-size: 2rem;
    }
  }
}
