<section class="services" id="services" data-id="2">
    <h2 class="heading">Services</h2>
    <div class="services-container">
        <app-service-box
            *ngFor="let entry of serviceEntries"
            [serviceName]="entry.serviceName"
            [description]="entry.description"
        ></app-service-box>
    </div>
    <div class="spectrum">
        <h2>{{ spectrumTitle }}</h2>
        <img src="/assets/services.png" alt="skill-spectrum">
        <p>{{ spectrumDescription }}
        </p>
    </div>
</section>
