<div class="testimonial-item" (click)="onClick()">
    <img src="{{ imageSrc }}" alt="" />
    <h2>{{ name }}</h2>
    <div class="rating">
        <i class="bx bxs-star" id="star"></i>
        <i class="bx bxs-star" id="star"></i>
        <i class="bx bxs-star" id="star"></i>
        <i class="bx bxs-star" id="star"></i>
        <i class="bx bxs-star" id="star"></i>
    </div>
    <p>
        {{ description }}
    </p>
</div>
