.testimonial-item {
  min-height: 550px;
  max-width: 450px;
  background: rgba(0, 0, 0, 0.7);
  border: 3px solid rgba(238, 238, 238, 0.2);
  border-radius: 2rem;
  margin: 0 2rem;
  padding: 30px 60px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  color: var(--text-color);
  transition: 0.4s ease-in-out;

  &:hover {
    border: 3px solid var(--main-color);
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 0 50px var(--main-color);
  }

  h2 {
    font-size: 2.8rem;
  }

  p {
    font-size: 1.3rem;
  }

  #star {
    color: gold;
    font-size: 2rem;
  }

  img {
    width: 15rem;
    max-height: 16rem;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
  }
}
