.testimonials {
  background: var(--second-bg-color);

  .testimonials-box {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem;

      @media (max-width: 991px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
