<section class="testimonials" id="testimonials" data-id="3">
    <div class="testimonials-box">
        <h2 class="heading">Testimonials</h2>
        <div class="wrapper">
            <app-testimonial-item
                *ngFor="let entry of testimonialEntries"
                [imageSrc]="entry.imageSrc"
                [name]="entry.name"
                [description]="entry.description"
                [boxUrl]="entry.boxUrl"
            ></app-testimonial-item>
        </div>
    </div>
</section>
