@mixin btnMixin {
  width: auto;
  margin-top: 2rem;
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: var(--dark-accent);
  border: 2px solid transparent;
  letter-spacing: 0.1rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
  }
}

@mixin btnSecondaryMixin {
  background-color: var(--dark-accent);
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px transparent;

  &:hover {
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: var(--dark-accent);
  }
}
