/* You can add global styles to this file, and also import other style files */
@use 'mixins' as *;

@import 'ngx-toastr/toastr';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color: #080808;
  --second-bg-color: #131313;
  --text-color: white;
  --dark-accent: black;
  --main-color: #ff6600;
}

.wine-theme {
  --main-color: #aa0000;
}

.sky-theme {
  --main-color: #66ccff;
}

html {
  font-size: 60%;
  overflow-x: hidden;

  @media (max-width: 1285px) {
    font-size: 55%;
  }

  body {
    background: var(--bg-color);
    color: var(--text-color);

    section {
      min-height: 100vh;
      padding: 10rem 12% 10rem;

      @media (max-width: 991px) {
        padding: 10rem 3% 2rem;
      }

      h2 {
        color: white;

        &.heading {
          font-size: 8rem;
          text-align: center;
          margin: 5rem 0;
          margin-bottom: 3rem;
        }

        span {
          color: var(--main-color);
        }
      }

      .btn {
        @include btnMixin;
      }

      .btn-secondary {
        @extend .btn;

        @include btnSecondaryMixin;
      }
    }
  }
}
