.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;

  @media (max-width: 895px) {
    flex-direction: column-reverse;
    margin: 5rem 4rem;
  }

  .home-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;

    span {
      color: var(--main-color);
    }

    h1 {
      font-size: 7rem;
      font-weight: 700;
      margin-top: 1.5rem;
      line-height: 1;

      @media (max-width: 895px) {
        font-size: 8rem;
        margin-top: 3rem;
      }
    }

    h3 {
      margin-bottom: 2rem;
      margin-top: 1rem;
      font-size: 3.5rem;

      @media (max-width: 895px) {
        font-size: 2.6rem;
      }

      &.text-animation {
        font-size: 34px;
        font-weight: 600;
        min-width: 280px;

        span {
          position: relative;

          &::before {
            content: 'Software Engineer';
            color: var(--main-color);
          }

          &::after {
            content: '';
            background-color: var(--bg-color);
            position: absolute;
            width: 0%;
            height: 100%;
            border-left: 3px solid var(--bg-color);
            margin-left: 1px;
            animation:
              cursor 0.6s infinite,
              // typing 20s steps(14) infinite;
          }

          @media (max-width: 895px) {

            &::after {
              height: 44px;
            }
          }

          @keyframes cursor {
            to {
              border-left: 2px solid var(--main-color);
            }
          }
          @keyframes words {
            0%,
            20% {
              content: 'Frontend Developer';
            }
            21%,
            40% {
              content: 'Backend Developer';
            }
            41%,
            60% {
              content: 'Solution Designer';
            }
            61%,
            80% {
              content: 'Problem Solver';
            }
            81%,
            100% {
              content: 'Software Engineer';
            }
          }
          @keyframes typing {
            10%,
            15%,
            30%,
            35%,
            50%,
            55%,
            70%,
            75%,
            90%,
            95% {
              width: 0;
            }
            5%,
            20%,
            25%,
            40%,
            45%,
            60%,
            65%,
            80%,
            85% {
              width: calc(100% + 8px);
            }
          }
        }
      }
    }

    p {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.8;
      max-width: 1000px;

      @media (max-width: 895px) {
        max-width: 600px;
        margin: 0 auto;
      }
    }

    .btn-group {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }
  }

  .home-img {
    border-radius: 50%;

    img {
      max-width: 450px;
      position: relative;
      top: 3rem;
      width: 32vw;
      border-radius: 50%;
      box-shadow: 0 0 25px var(--main-color);
      cursor: pointer;
      transition: 0.4s ease-in-out;

      &:hover {
        box-shadow:
          0 0 25px var(--main-color),
          0 0 50px var(--main-color),
          0 0 100px var(--main-color);
      }

      @media (max-width: 895px) {
        width: 56vw;
      }
    }
  }
}
