<section class="home" id="home" data-id="0">
    <div class="home-content">
        <h1>Hi, It's <span>Diego</span></h1>
        <h3 class="text-animation">I'm a <span></span></h3>
        <p>
            Results-oriented .NET Developer with five years of hands-on
            experience in designing, developing and maintaining robust and
            scalable web applications. Proficient in C# and .NET Core, with
            a track record of delivering high-quality, efficient code and
            solutions. Skilled in problem solving, debugging and optimizing
            performance to ensure seamless user experiences. Proficient in
            Typescript/Javascript in Angular and React, with a track record of delivering
            scalable, maintainable and performant web solutions, adept at
            collaborating with cross-functional teams and translating business
            requirements into technical solutions.
        </p>

        <app-social-icons></app-social-icons>

        <div class="btn-group">
            <a
                href="https://www.linkedin.com/in/diego-samuel-balderrama-quino-955a67149/"
                target="_blank"
                class="btn"
                >Hire</a
            >
            <a href="#contact" class="btn-secondary">Contact</a>
        </div>
    </div>
    <div class="home-img">
        <img src="/assets/splash.jpg" alt="" />
    </div>
</section>
